name: Draft

on:
  push:
    branches: [main, dynamic-panes]
    tags: ["v*"]
  workflow_dispatch:

env:
  SCCACHE_GHA_ENABLED: true

jobs:
  build-unix:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust toolchain
        run: rustup toolchain install stable --profile minimal --target ${{ matrix.target }}

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Build
        run: ./scripts/build-jermi.sh ${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: jermi-${{ matrix.target }}.zip
          path: jermi-${{ matrix.target }}.zip

  draft:
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [build-unix]
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Draft
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: |
            jermi-*.zip
          generate_release_notes: true

  nightly:
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [build-unix]
    steps:
      - run: |
          echo 'NIGHTLY_BODY<<EOF' >> $GITHUB_ENV
          echo "From commit: ${GITHUB_SHA:0:8}" >> $GITHUB_ENV
          echo "Generated on: $(date -u +"%Y-%m-%d %H:%M") UTC" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Update the tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git tag --force nightly && git push --force origin tag nightly

      - name: Nightly
        uses: softprops/action-gh-release@v2
        with:
          tag_name: nightly
          prerelease: true
          files: |
            jermi-*.zip
          name: Nightly Build
          body: ${{ env.NIGHTLY_BODY }}
          target_commitish: ${{ github.sha }}
